body {
    background-color: #fdeda7a9;
    margin: 0;
    color: rgb(45, 63, 80);
    font-family: Arial, sans-serif;
}

section{
    margin: 20px auto;
    padding: 20px;
    border  15x solid #f0f0f0;
    box-shadow: 15px 15px 20px;
    border-radius: 25px;
}